
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Top News Articles:</h3>
    <p>by Group D</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
     
  
                
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        @for (int i = 0; i < 10; i++)
            
     
        {
            <tr>
                <td>
                    @Html
                    @Html.ActionLink("Read more", "Read more", new { /* id=item.PrimaryKey */ }) | 
                </td>
 

            </tr>
        }
    </tbody>

</table>
